aliyun-python-sdk-alidns==2.0.18
aliyun-python-sdk-core==2.13.15
aliyun-python-sdk-domain==3.14.2
environs==9.5.0
jmespath==0.10.0
marshmallow==3.15.0
packaging==21.3
pycryptodome==3.14.1
pyparsing==3.0.9
python-dotenv==0.20.0
wrapt==1.11.2
